.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3aafa9;
  position: sticky;
  top: 0;
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 1em;
  background-color: black;
  border-radius: 50px;
  padding: 15px 20px;
}

.logo,
.title,
.stopwatch,
.characters {
  color: #ede8f5;
}

.stopwatch {
  font-size: 1.5em;
}

.bottom {
  display: flex;
  flex-direction: row;
}

.bottom ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bottom li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 15px;
}

.icon {
  width: 40px;
  height: 40px;
}
